In [1]:
import pandas as pd
from datetime import datetime

In [7]:
response_data = {
    "coins": {
        "coingecko:bitcoin": {
            "symbol": "BTC",
            "confidence": 0.99,
            "prices": [
                {"timestamp": 1698831002, "price": 34437},
                {"timestamp": 1698874197, "price": 35358},
                {"timestamp": 1698917400, "price": 35335},
                {"timestamp": 1698960598, "price": 34918},
                {"timestamp": 1699003805, "price": 34327.26696857593},
                {"timestamp": 1699047022, "price": 34730},
                {"timestamp": 1699090232, "price": 34811.59537996894},
                {"timestamp": 1699133441, "price": 34879.48868290751},
                {"timestamp": 1699176633, "price": 35087.13001564083},
                {"timestamp": 1699219821, "price": 34916},
                {"timestamp": 1699263026, "price": 35065},
                {"timestamp": 1699306235, "price": 34996.551069056004},
                {"timestamp": 1699349426, "price": 34862},
                {"timestamp": 1699392633, "price": 35613.28537866743},
                {"timestamp": 1699435824, "price": 35294},
                {"timestamp": 1699479028, "price": 35464},
                {"timestamp": 1699522229, "price": 36710},
                {"timestamp": 1699565416, "price": 36613},
                {"timestamp": 1699608620, "price": 36493},
                {"timestamp": 1699651820, "price": 37360},
                {"timestamp": 1699695025, "price": 37070},
                {"timestamp": 1699738225, "price": 37028},
                {"timestamp": 1699781433, "price": 37101.15085522806},
                {"timestamp": 1699824622, "price": 37209},
                {"timestamp": 1699867824, "price": 37013},
                {"timestamp": 1699911027, "price": 36616},
                {"timestamp": 1699954236, "price": 36626.93037215622},
                {"timestamp": 1699997423, "price": 35303},
                {"timestamp": 1700040629, "price": 35931.54401882757},
                {"timestamp": 1700083817, "price": 37605},
                {"timestamp": 1700127022, "price": 37417},
                {"timestamp": 1700170227, "price": 35888},
                {"timestamp": 1700213425, "price": 36365},
                {"timestamp": 1700256630, "price": 36364},
                {"timestamp": 1700299830, "price": 36439.65928002305},
                {"timestamp": 1700343025, "price": 36574},
                {"timestamp": 1700386226, "price": 36658},
                {"timestamp": 1700429413, "price": 37020},
                {"timestamp": 1700472625, "price": 37191},
                {"timestamp": 1700515818, "price": 37414.24800769759},
                {"timestamp": 1700559015, "price": 37395.05304727799},
                {"timestamp": 1700602225, "price": 36951.89144393729},
                {"timestamp": 1700645429, "price": 36528},
                {"timestamp": 1700688625, "price": 37778},
                {"timestamp": 1700731816, "price": 37481},
                {"timestamp": 1700775019, "price": 37326.85265572334},
                {"timestamp": 1700818229, "price": 37554.23049974679},
                {"timestamp": 1700861419, "price": 37903},
                {"timestamp": 1700904621, "price": 37739},
                {"timestamp": 1700947824, "price": 37818},
                {"timestamp": 1700991022, "price": 37796},
                {"timestamp": 1701034235, "price": 37500.42011272387},
                {"timestamp": 1701077434, "price": 37436.05236688195},
                {"timestamp": 1701120620, "price": 36983},
                {"timestamp": 1701163820, "price": 37028},
                {"timestamp": 1701207018, "price": 38103},
                {"timestamp": 1701250230, "price": 38233},
                {"timestamp": 1701293425, "price": 37785},
                {"timestamp": 1701336615, "price": 37729.730640669986},
                {"timestamp": 1701379822, "price": 37760}
            ]
        }
    }
}

In [8]:
# Extract Bitcoin prices
bitcoin_data = response_data["coins"]["coingecko:bitcoin"]
bitcoin_prices = bitcoin_data["prices"]

In [9]:
for price in bitcoin_prices:
    price["timestamp"] = datetime.utcfromtimestamp(price["timestamp"]).strftime('%Y-%m-%d %H:%M:%S')

df = pd.DataFrame(bitcoin_prices)

In [10]:
df

              timestamp         price
0   2023-11-01 09:30:02  34437.000000
1   2023-11-01 21:29:57  35358.000000
2   2023-11-02 09:30:00  35335.000000
3   2023-11-02 21:29:58  34918.000000
4   2023-11-03 09:30:05  34327.266969
5   2023-11-03 21:30:22  34730.000000
6   2023-11-04 09:30:32  34811.595380
7   2023-11-04 21:30:41  34879.488683
8   2023-11-05 09:30:33  35087.130016
9   2023-11-05 21:30:21  34916.000000
10  2023-11-06 09:30:26  35065.000000
11  2023-11-06 21:30:35  34996.551069
12  2023-11-07 09:30:26  34862.000000
13  2023-11-07 21:30:33  35613.285379
14  2023-11-08 09:30:24  35294.000000
15  2023-11-08 21:30:28  35464.000000
16  2023-11-09 09:30:29  36710.000000
17  2023-11-09 21:30:16  36613.000000
18  2023-11-10 09:30:20  36493.000000
19  2023-11-10 21:30:20  37360.000000
20  2023-11-11 09:30:25  37070.000000
21  2023-11-11 21:30:25  37028.000000
22  2023-11-12 09:30:33  37101.150855
23  2023-11-12 21:30:22  37209.000000
24  2023-11-13 09:30:24  37013.000000
25  2023-11-13 21:30:27  36616.000000
26  2023-11-14 09:30:36  36626.930372
27  2023-11-14 21:30:23  35303.000000
28  2023-11-15 09:30:29  35931.544019
29  2023-11-15 21:30:17  37605.000000
30  2023-11-16 09:30:22  37417.000000
31  2023-11-16 21:30:27  35888.000000
32  2023-11-17 09:30:25  36365.000000
33  2023-11-17 21:30:30  36364.000000
34  2023-11-18 09:30:30  36439.659280
35  2023-11-18 21:30:25  36574.000000
36  2023-11-19 09:30:26  36658.000000
37  2023-11-19 21:30:13  37020.000000
38  2023-11-20 09:30:25  37191.000000
39  2023-11-20 21:30:18  37414.248008
40  2023-11-21 09:30:15  37395.053047
41  2023-11-21 21:30:25  36951.891444
42  2023-11-22 09:30:29  36528.000000
43  2023-11-22 21:30:25  37778.000000
44  2023-11-23 09:30:16  37481.000000
45  2023-11-23 21:30:19  37326.852656
46  2023-11-24 09:30:29  37554.230500
47  2023-11-24 21:30:19  37903.000000
48  2023-11-25 09:30:21  37739.000000
49  2023-11-25 21:30:24  37818.000000
50  2023-11-26 09:30:22  37796.000000
51  2023-11-26 21:30:35  37500.420113
52  2023-11-27 09:30:34  37436.052367
53  2023-11-27 21:30:20  36983.000000
54  2023-11-28 09:30:20  37028.000000
55  2023-11-28 21:30:18  38103.000000
56  2023-11-29 09:30:30  38233.000000
57  2023-11-29 21:30:25  37785.000000
58  2023-11-30 09:30:15  37729.730641
59  2023-11-30 21:30:22  37760.000000